<!DOCTYPE html>


<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='decoration.css')}}">
</head>


<body>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/register">register</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}

        {% endblock %}  
    </main>  




    <footer>
        <p>all rights reserved &copy; 2025 this site is awesome TY FOR VISITING; buy me a coffee?</p>
    </footer>
</body>

</html>